body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
}

.header-container h1 {
    font-size: 1.7em;
}

/* 퀴즈 시작 화면 스타일 */
.start-container {
    background: white;
    max-width: 550px;
    margin: 150px auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.start-container h1 {
    font-size: 1.4em;
    margin-bottom: 13px;
    color: #333;
}

#startQuiz {
    padding: 10px 25px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
}

#startQuiz:hover {
    background-color: #238037;
}

/* 최종 결과 화면 버튼 스타일 */
#finalScreen button {
    padding: 10px 20px;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

#finalScreen button:hover {
    background-color: #138496;
}

/* 퀴즈 화면 스타일 */
.quiz-container {
    background: white;
    max-width: 600px;
    margin: 70px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-image {
    width: 125px;
    height: 90px;
    margin-right: 5px;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    margin: 0;
}

.question-box {
    font-size: 1.2em;
    margin: 20px 0;
    font-weight: bold;
    padding: 15px;
    background-color: #e6e6e6;
    border-radius: 5px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px;
}

#submit {
    background-color: #28a745;
    color: white;
}

#submit:hover {
    background-color: #218838;
}

.stop-btn {
    background-color: #dc3545;
    color: white;
}

.stop-btn:hover {
    background-color: #c82333;
}

.next-btn {
    background-color: #ffc107;
    color: black;
    display: none;
}

.next-btn:hover {
    background-color: #e0a800;
}

.reveal-btn {
    background-color: #007bff;
    color: white;
    display: none;
}

.reveal-btn:hover {
    background-color: #0056b3;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    100% { opacity: 1; }
}

.blinking {
    animation: blink 3s infinite;
    color: rgb(187, 40, 146);
    font-weight: bold;
}

.blinking2 {
    animation: blink 3s infinite;
    color: rgb(235, 122, 17);
    font-weight: bold;
}

/* 최종 결과 화면 스타일 */
#finalScreen {
    background: white;
    max-width: 550px;
    margin: 150px auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

#finalScreen h1 {
    font-size: 1.4em;
    margin-bottom: 20px;
    color: #333;
}

/* 결과 분석 표 스타일 */
#analysisDetails {
    margin-top: 20px;
    overflow-x: auto;
}

#analysisDetails table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

#analysisDetails th, 
#analysisDetails td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

#analysisDetails th {
    background-color: #f2f2f2;
}
